{%extends 'main_site/base.html'%}
{%block nav_class%}
<nav class="navbar navbar-expand-lg bg-primary  " color-on-scroll="400">
{%endblock nav_class%}
{%block buy_all%}
{%for i in images%}
<img src="{{i.file.url}}" width="25%">
{{i.artist}}
{%endfor%}
{%if not user.is_authenticated%}
<div class="col-md-10">
   <a href="{% url 'payment_options'%}" class="btn btn-primary">Login</a>
</div>
<h4>OR</h4>
<div class="col-md-10">
   <a href="{% url 'guest_checkout'%}" class="btn btn-primary">Checkout as Guest</a>
</div>
{%else%}
<div class="col-md-10">
   <a href="{% url 'payment_options'%}" class="btn btn-primary">Proceed to Payment</a>
</div>
{%endif%}
{%endblock buy_all%}

